@use "sass:math";

@mixin shades($name, $prop, $numShades, $redStart, $redEnd, $greenStart, $greenEnd, $blueStart, $blueEnd) {
  @for $n from 1 through $numShades {
    &.#{$name}-#{$n} {
      #{$prop}: rgb(
        $redStart + math.div(($redEnd - $redStart), $numShades) * ($n - 1),
        $greenStart +  math.div(($greenEnd - $greenStart), $numShades) * ($n - 1),
        $blueStart +  math.div(($blueEnd - $blueStart), $numShades) * ($n - 1)
      );
    }
  }
}

.SudokuBoard {
  > table {
    font: xx-large monospace;
    border-collapse: collapse;
    text-align: center;
    user-select: none;

    > colgroup {
      border: solid medium;
    }

    > tbody > tr {
      &:nth-child(3n) {
        border-bottom: solid medium;
      }

      > td {
        width: 1.4em;
        height: 1.4em;
        padding: 0;
        border: solid thin;

        &:hover {
          background-color: lightyellow;
        }

        @include shades("invalid", "background-color", 4,
          255, 255,
          191, 0,
          191, 0
        );

        &.selected {
          background-color: #ffffaacc;
          border-color: #a0a000cc;
        }
      }
    }
  }
}
